<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type ="text/css" href="css/style.css">
</head>
<body>
    <%- include('partials/header.ejs') %>

    <div id="search-block">
        <form id="search-bar">
            <input id="search-text" placeholder="Search" name="search-content">
            <input id="search-button" type="submit">
        </form>
    </div>
    <div class="center-title"><h1>Our selection</h1></div>
    <div id="category-block">
        <div id="category-bar">
            <p id="category-title">filter</p>
            <% categories.forEach(category => { %>
                <div class="category-item">
                    <% if(category.show === false) {%> <img class="category-img" src="images/plus.png">
                    <% } else {%> <img class="category-img" src="images/minus.png"> <%}%>
                    <button class = "category-heading"><%= category.name %></button>
                </div>
                <% if(category.show === true) { category.items.forEach(item => {%>
                        <div class="category-item category-subject">
                            <img class="category-img" src="images/emptySelect.png">
                            <button><%= item %></button>
                        </div>
                <% }); } %>
            <% }); %>
            <div class="category-item"></div>
        </div>
    </div>
    <div id="item-block">
        <% items.forEach(item => { %>
            <div class="block">
                <img class="block-img" src="images/noImage.png">
                <p class="block-text"><%= item.name %></p>
                <p class="block-text"><%= item.suburb %></p>
            </div>
        <% }); %>
    </div>

    <div class="clr"></div>

    <%- include('partials/footer.ejs') %>

    <script src="/scripts/main.js"></script>
</body>
</html>