<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type ="text/css" href="css/style.css">
</head>
<body>
    <%- include('partials/header.ejs') %>

    <div id="search-block">
        <form id="search-bar">
            <input id="search-text" placeholder="Search" name="search-content">
            <input id="search-button" type="submit">
        </form>
    </div>
    <div class="center-title"><h1>Our selection</h1></div>
    <div id="category-block">
        <div id="category-bar">
            <p id="category-title">filter</p>
            <% categories.forEach(category => { %>
                <div id= <%= category.name %>>
                    <button class="category-item category-button" name=<%= category.name %>>
                        <img class="category-img plus-img" src="images/plus.png">
                        <img class="category-img minus-img" src="images/minus.png" style="display: none;">
                        <p class = "category-text"><%= category.name %></p>
                    </button>
                    <% category.items.forEach(item => {%>
                        <button class="category-item category-subject" style="display: none;" name=<%= item[0] %>>
                            <img class="category-img unselected-img" src="images/emptySelect.png">
                            <img class="category-img selected-img" src="images/fullSelect.png" style="display: none;">
                            <p class = "category-text"><%= item[1] %></p>
                        </button>
                    <% }); %>
                </div>
            <% }); %>
            <div class="category-item"></div>
        </div>
    </div>
    <div id="item-block">
        <% items.forEach(item => { %>
            <div class="block">
                <img class="block-img" src="images/noImage.png">
                <p class="block-text"><%= item.name %></p>
                <p class="block-text"><%= item.suburb %></p>
            </div>
        <% });%>
    </div>

    <div class="clr"></div>

    <%- include('partials/footer.ejs') %>

    <script src="/scripts/main.js"></script>
</body>
</html>